{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    {% if images and app.user.id == images[0].getUserId %}
        <section class="images">
            {% for image in images %}
                <article class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{path('post_image', {'slug': image.getpicId})}}">
                            <img src="{{ asset('media/cache/thumb_lg/images/')}}{{ image.getPath }}"
                                 alt="{{ image.getName }}" class="img-responsive mh115">
                        </a>
                        <div class="caption text-center">
                            <h4>{{image.name|default('Empty')}}</h4>
                            <div class="btn-center">
                                <a href="{{path('delete', {'slug': image.getpicId})}}" class="btn btn-default text-center">
                                    <i class="fa fa-remove fz4"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            {% else %}
                <h4 class="alert alert-warning text-center">You don't have any photos</h4>
                <div class="btn-center">
                    <a href="{{path('upload')}}" class="btn btn-default text-center">
                        <i class="fa fa-upload fz4"></i>
                    </a>
                </div>
        </section>
    {% endif %}

        {% block sidebar_right %}{% endblock %}
{% endblock %}
