{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}
{% block content %}
    <div class="col-sm-6 center">
        {{ form_start(form) }}
            <div class="form-group-lg">
                {{ form_label(form.user.email) }}
                {{ form_errors(form.user.email) }}
                {{ form_widget(form.user.email) }}
            </div>
            <div class="form-group-lg">
                {{ form_label(form.user.username) }}
                {{ form_errors(form.user.username) }}
                {{ form_widget(form.user.username) }}
            </div>
        <div class="form-group-lg">
            {{ form_label(form.user.password.password) }}
            {{ form_widget(form.user.password.password , { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form.user.password.password) }}
        </div>
        <div class="form-group-lg">
            {{ form_label(form.user.password.confirm) }}
            {{ form_widget(form.user.password.confirm , { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form.user.password.confirm) }}
        </div>
        <div class="checkbox text-center">
            {{ form_label(form.Register) }}
            {{ form_widget(form.Register, { 'attr': {'class': 'btn btn-primary btn-lg'} }) }}
            {{ form_widget(form.Register) }}

            {{ form_label(form.terms) }}
            {{ form_widget(form.terms)}}
            {{ form_widget(form.terms) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
