{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="col-sm-4 center">
        {% if error %}
            <div class="alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{csrf_token}}" />
            <div class="form-group">
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" placeholder="{{'security.login.username'|trans}}"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" name="_password" required="required" placeholder="{{'security.login.password'|trans}}" />
            </div>
            <div class="form-group">
                <input type="submit" id="_submit" class="btn btn-primary form-control" name="_submit" value="{{'security.login.submit'|trans }}" />
            </div>
        </form>
        <div class="form-group">
            <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
        </div>
    </div>
{% endblock fos_user_content %}

{% block hwi_oauth_content %}
    <div class="col-sm-4 center">
        {% if error %}
            <span>{{ error }}</span>
        {% endif %}
        {% for owner in hwi_oauth_resource_owners() %}
            <div class="form-group">
                <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-fb form-control">{{ owner | trans({}, 'HWIOAuthBundle') }}
                    <i class="icon icon-fb"></i>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock hwi_oauth_content %}