{% block nav %}
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <section class="header-wrap">
            <div class="header-shadow"></div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="hidden-xs">
                            <a href="{{path('front_page')}}">
                                <img class="logo" src="{{ asset('bundles/balletwaytoc/images/logo.png')}}" alt="logo">
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('front_page') }}">Feed</a>
                        </li>
                        <li>
                            <a href="{{ path('about') }}">About</a>
                        </li>
                    </ul>
                        <ul class="navbar navbar-right list-unstyled list-inline">

                            {% if app.user.id %}
                                <li>
                                    <a class="btn btn-waytoc white" href="{{ path('upload') }}">Upload photo</a>
                                </li>
                                <li>
                                    <button class="btn btn-waytoc white" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ path('fos_user_profile_edit') }}">Settings</a>
                                        </li>
                                        <li>
                                            <a href="{{path('images', {'slug': app.user.id})}}">My pictures</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-waytoc white">
                                    <i class="fa fa-plus"></i>
                                    Open account
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}" class="btn btn-waytoc white">
                                    <i class="fa fa-user"></i>
                                    Sign in
                                </a>
                            </li>
                            {% endif %}

                        </ul>
                </nav>
            </div>
        </section>
    </header>
{% endblock %}