{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}


{% block content %}
    <div class="delete">
        {#<div class="col-sm-3">#}
            {#<img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="golden" class="img-responsive">#}
        {#</div>#}
        {#<div class="col-sm-3">#}
            {#<img src="{{ asset('bundles/balletwaytoc/images/6.jpg') }}" alt="golden" class="img-responsive">#}
        {#</div>#}
        {#<div class="col-sm-3">#}
            {#<img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="golden" class="img-responsive">#}
        {#</div>#}
        {#<div class="col-sm-3">#}
            {#<img src="{{ asset('bundles/balletwaytoc/images/6.jpg') }}" alt="golden" class="img-responsive">#}
        {#</div>#}

        <ul>
            <li><a href="#"><img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" /></a></li>
            <li><a href="#"><img src="{{ asset('bundles/balletwaytoc/images/6.jpg') }}" /></a></li>
            <li><a href="#"><img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" /></a></li>
            <li><a href="#"><img src="{{ asset('bundles/balletwaytoc/images/6.jpg') }}" /></a></li>
        </ul>

    </div>
{% endblock %}