{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    <div class="front-page-wrapper">
        <div class="col-sm-9 clearfix">
            {% for img in image %}
                <div class="col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <i class="glyphicon glyphicon-unchecked"></i>
                                </li>
                            </ul>
                        </div>
                        <a href="{{ path('post_image', {'slug': img.getpicId}) }}">
                            <img src="{{ asset('uploads/images/')}}{{ img.getPath }}" alt="zu" class="img-responsive">
                        </a>
                        <div class="caption text-center">
                            <h4>{{ img.name|default('Empty')}}</h4>
                            <p class="description">
                                {{ img.description|default('No description')}}
                            </p>
                        </div>
                    </div>
                </div>
                <span></span>
            {% endfor %}

        </div><!-- col-sm-8 -->
        {% block sidebar_right %}

        {% endblock %}
    </div>

{% endblock %}