{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    <div class="col-sm-8 clearfix">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail mt10">
                <div class="caption">
                    <h4> Marta</h4>
                    <img src="{{ asset('bundles/balletwaytoc/images/zu.jpg') }}" alt="zu" height="50px" width="50px"
                         class="img-circle">
                </div>
                <img src="{{ asset('bundles/balletwaytoc/images/zu.jpg') }}" alt="zu" class="img-responsive">

                <div class="caption">
                    <i class="glyphicon glyphicon-comment">1</i>
                    <h4> Zue</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail mt10">
                <div class="caption">
                    <h4> Siuzi</h4>
                    <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="zu" height="50px" width="50px"
                         class="img-circle">
                </div>
                <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="golden" class="img-responsive">

                <div class="caption">
                    <i class="glyphicon glyphicon-comment"></i>
                    <i class="glyphicon glyphicon-heart-empty"></i>
                    <h4> As esu Vilniuje</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail mt10">
                <div class="caption">
                    <h4> Siuzi</h4>
                    <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="zu" height="50px" width="50px"
                         class="img-circle">
                </div>
                <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="golden" class="img-responsive">

                <div class="caption">
                    <i class="glyphicon glyphicon-comment"></i>
                    <i class="glyphicon glyphicon-heart-empty"></i>
                    <h4>Thumbnail label</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail mt10">
                <div class="caption">
                    <h4> Siuzi</h4>
                    <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="zu" height="50px" width="50px"
                         class="img-circle">
                </div>
                <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="golden" class="img-responsive">

                <div class="caption">
                    <i class="glyphicon glyphicon-comment"></i>
                    <h4>As esu Vilniuje</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail mt10">
                <div class="caption">
                    <h4> Alis</h4>
                    <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="zu" height="50px" width="50px"
                         class="img-circle">
                </div>
                <img src="{{ asset('bundles/balletwaytoc/images/golden.jpg') }}" alt="golden" class="img-responsive">

                <div class="caption">
                    <p>As esu Vilniuje</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail mt10">
                <div class="caption">
                    <h4> Marta</h4>
                    <img src="{{ asset('bundles/balletwaytoc/images/zu.jpg') }}" alt="zu" height="50px" width="50px"
                         class="img-circle">
                </div>
                <img src="{{ asset('bundles/balletwaytoc/images/zu.jpg') }}" alt="zu" class="img-responsive">

                <div class="caption">
                    <i class="glyphicon glyphicon-comment">1</i>
                    <h4> Zue</h4>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="btn-group-lg">
                <button class="btn btn-primary btn-lg">More</button>
            </div>
        </div>

    </div><!-- col-sm-8 -->

{% endblock %}


{% block aside %}
    <div class="col-sm-12">
        <div class="panel panel-green panel-content">
            <div class="caption text-center">
                <h3> Join Us </h3>
            </div>
            <button class="btn btn-default center-block">Upload your photo!</button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-orange panel-content">
            <div class="caption text-center">
                <h3> Join Us </h3>
            </div>
            <button class="btn btn-default center-block">Create your blog!</button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-blue panel-content">
            <div class="caption text-center">
                <h3> Like Us </h3>
            </div>
            <div class="thumbnail">
                <img src="{{ asset('bundles/balletwaytoc/images/facebk.JPG') }}" alt>
            </div>
            <button class="btn btn-primary center-block"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-content">
            <div class="caption text-center">
                <h3> Join Us </h3>
            </div>
            <button class="btn btn-default center-block">Upload your photo!</button>
        </div>
    </div>
    <div class="col-sm-8 clearfix">

{% endblock %}