{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    <div class="front-page-wrapper">
        <div class="col-sm-9 clearfix">
            {% for img in image %}
                <div class="col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <i class="glyphicon glyphicon-unchecked"></i>
                                </li>
                            </ul>
                        </div>
                        <a href="{{ path('post_image', {'slug': img.getpicId}) }}">
                            <img src="{{ asset('uploads/images/')}}{{ img.getPath }}" alt="zu" class="img-responsive">
                        </a>
                        <div class="caption text-center">
                            <h4>{{ img.name|default('Empty')}}</h4>
                            <p class="description">
                                {{ img.description|default('No description')}}
                            </p>
                        </div>
                    </div>
                </div>
                <span></span>
            {% endfor %}

        </div><!-- col-sm-8 -->
        {% block sidebar_right %}
            <div class="col-sm-3">
                <div class="col-sm-12 nopadding">
                    <form class="" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                <span class="search-icon-wrapper">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                        </div>
                    </form>
                </div>
                {% if app.user %}
                    <div class="col-sm-12 nopadding">
                        <div class="panel panel-blue panel-content">
                            <div class="caption text-center">
                                <h3>Upload photo!</h3>
                            </div>
                            <a href="{{ path('upload') }}" class="btn btn-primary btn-center">Upload</a>
                        </div>
                    </div>

                    <div class="col-sm-12 nopadding">
                        <div class="panel panel-orange panel-content">
                            <div class="caption text-center">
                                <h3>Create blog!</h3>
                            </div>
                            <button class="btn btn-default center-block">Create your blog!</button>
                        </div>
                    </div>
                {%  endif %}
                <div class="col-sm-12 nopadding">
                    <div class="panel panel-green panel-content">
                        <div class="caption text-center">
                            <h3>Like us</h3>
                        </div>
                        <a href="{{ path('account_register' )}}" class="btn btn-default btn-center">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 nopadding">
                    <div class="panel panel-blue panel-content">
                        <div class="caption text-center">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="col-sm-11 center">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 clearfix"></div>
            </div>
        {% endblock %}
    </div>

{% endblock %}