{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    <div class="front-page-wrapper clearfix">
        <div id="feed"  class="col-sm-9 col-xs-12 clearfix">
            {% for img in image %}
                <article class="item col-xs-12">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            {% set cookieName = 'age' ~ img.getpicId %}
                            {% if app.request.cookies.has(cookieName) %}
                            {% else %}
                                <input type="hidden" name="imgId" data-id="{{img.getpicId}}">
                                <label for="spinner"></label>
                                <input class="spinner" name="value">
                                <a href="{{path('image_vote', {'slug': img.getpicId})}}" type="submit" class="btn btn-circle">
                                    <i class="fa fa-circle-o"></i>
                                </a>
                            {% endif %}
                        </div>
                        <a href="{{path('post_image', {'slug': img.getpicId})}}">
                            <img srcset="{{ asset('media/cache/thumb_lg/images/')}}{{ img.getPath }} 610w, {{ asset('media/cache/thumb_md/images/')}}{{ img.getPath }} 1x"
                                 src="{{ asset('media/cache/thumb_md/images/')}}{{ img.getPath }}" class="img-responsive">
                        </a>
                        <div class="caption text-center">
                            <h4>{{img.name|default('Empty')}}</h4>
                            <ul class="list-inline">
                                <li>
                                    <a href="">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('post_image', {'slug': img.getpicId})}}">
                                        <i class="fa fa-comment-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div id="loader">
            <img src="http://i.imgur.com/6RMhx.gif" alt="">
        </div>
        {% block sidebar_right %}{% endblock %}
    </div>
{% endblock %}