{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    <div class="front-page-wrapper clearfix" ng-app="">
        <div id="feed"  class="col-sm-9 clearfix" ng-controller="SpinnerCtrl">
            {% for img in image %}
                <div class="item col-xs-12">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <input type="hidden" name="imgId" data-id="{{img.getpicId}}">
                            <label for="spinner"></label>
                            <input class="spinner" name="value" ng-model="age">
                            <button type="submit" class="btn btn-circle">
                                <i class="fa fa-circle-o"></i>
                            </button>
                        </div>
                        <a href="{{ path('post_image', {'slug': img.getpicId}) }}">
                            <img src="{{ asset('uploads/images/')}}{{ img.getPath }}" alt="zu" class="img-responsive">
                        </a>
                        <div class="caption text-center">
                            <h4>{{ img.name|default('Empty')}}</h4>
                            <p class="description">
                                {{ img.description|default('No description')}}
                            </p>
                        </div>
                    </div>
                </div>
                <span></span>
            {% endfor %}
        </div>
        {% block sidebar_right %}{% endblock %}
    </div>
{% endblock %}