{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}

{% block content %}
    <div class="col-sm-9 clearfix">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <div class="caption text-center">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <i class="glyphicon glyphicon-unchecked"></i>
                        </li>
                    </ul>
                </div>
                <img src="{{ asset('bundles/balletwaytoc/assets/images/zu.jpg') }}" alt="zu" class="img-responsive">
                <div class="caption text-center">
                    <h4> Zue, 19</h4>
                    <p class="description">This girly is from Sweden and this is not a liar.
                        This ads as as as girly is from Sweden and this is not a liar.
                        This gasd asirly is from Sweden and thiasdas dasdas s is not a liar.
                        This girly is fdasd adas das dasrom Sweden and this is not a liar.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <div class="caption text-center">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <i class="glyphicon glyphicon-unchecked"></i>
                        </li>
                    </ul>
                </div>
                <img src="{{ asset('bundles/balletwaytoc/assets/images/golden.jpg') }}" alt="golden" class="img-responsive">
                <div class="caption text-center">
                    <i class="glyphicon glyphicon-heart-empty"></i>
                    <h4> Lita, 26</h4>
                    <p class="description">This girly is from Sweden and this is not a liar.
                        This ads as as as girly is from Sweden and this is not a liar.
                        This gasd asirly is from Sweden and thiasdas dasdas s is not a liar.
                        This girly is fdasd adas das dasrom Sweden and this is not a liar.
                        This gasd asirly is from Sweden and thiasdas dasdas s is not a liar.
                        This girly is fdasd adas das dasrom Sweden and this is not a liar.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <div class="caption text-center">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <i class="glyphicon glyphicon-unchecked"></i>
                        </li>
                    </ul>
                </div>
                <img src="{{ asset('bundles/balletwaytoc/assets/images/kuku.jpg') }}" alt="golden" class="img-responsive">
                <div class="caption text-center">
                    <i class="glyphicon glyphicon-heart-empty"></i>
                    <h4> Zita,
                    <i class="glyphicon glyphicon-tree-conifer"></i>
                    </h4>
                    <p class="description">This girly is from Sweden and this is not a liar.
                        This ads as as as girly is from Sweden and this is not a liar.</p>
                </div>
            </div>
        </div>

    </div><!-- col-sm-8 -->

{% endblock %}


{% block aside %}
    <div class="col-sm-12 nopadding">
        <form class="" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="search-icon-wrapper">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="panel panel-green panel-content">
            <div class="caption text-center">
                <h3> Join Us </h3>
            </div>
            <a href="{{ path('account_register' )}}" class="btn btn-default center-block">Upload your photo!</a>
        </div>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="panel panel-orange panel-content">
            <div class="caption text-center">
                <h3> Join Us </h3>
            </div>
            <button class="btn btn-default center-block">Create your blog!</button>
        </div>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="panel panel-blue panel-content">
            <div class="caption text-center">
                <h3> Like Us </h3>
            </div>
            <div class="thumbnail">
                <img src="{{ asset('bundles/balletwaytoc/images/facebk.JPG') }}" alt>
            </div>
            <button class="btn btn-primary center-block"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </div>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="panel panel-content">
            <div class="caption text-center">
                <h3> Join Us </h3>
            </div>
            <button class="btn btn-default center-block">Upload your photo!</button>
        </div>
    </div>
    <div class="col-sm-8 clearfix"></div>

{% endblock %}